---
import styles from './CardGrid.module.css';
import type { CardGridProps } from './CardGrid.types';
import Card from '../Card/Card.astro';

const { items } = Astro.props as CardGridProps;
---

<section class={styles.grid}>
  {items.map((it) => (
    <div class={styles.item}>
      <Card {...it} />
    </div>
  ))}
</section>
